<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Mail sending</title>
</head>
<body>
	<p>
		Hi <strong>${name}</strong>,
	</p>

	<p>
		<b>Your Score</b>
	</p>
	<table border="1">
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Score</th>
		</tr>
		<tr>
			<td>${name}</td>
			<td>${email}</td>
			<td>${correctAns}</td>
		</tr>

	</table>



	<p>Thank You,</p>
	<p>Tulasi</p>
</body>
</html>


